<div class="card border-radius elevation">
  <mat-toolbar color="primary">
    <mat-toolbar-row style="margin-bottom: -50px;" fxLayout="column" fxLayoutAlign="start end">
      <button mat-icon-button [mat-dialog-close]="false" style="margin-right: -15px">
        <mat-icon aria-label="Close">close</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row style="min-height:120px;" fxLayout="column" fxLayoutAlign="center center">
      <button mat-mini-fab (click)="initSSO()" matTooltip="Login with Google" matTooltipPosition="above">
        <fa-icon [icon]="['fab', 'google']"></fa-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
